<app-navbar></app-navbar>
<div class="col-lg-10 offset-lg-1 col-md-6 offset-md-3 col-12 mt-5">
  <table class="table table-light table-hover">
    <thead>
      <tr>
        <th>Rut</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Grado Academico</th>
        <th>Disponibilidad</th>
        <th>Años de Experiencia</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tr *ngFor="let profesor of profesorService.profesor">
      <td>{{ profesor.rut }}</td>
      <td>{{ profesor.nombre }}</td>
      <td>{{ profesor.apellido }}</td>
      <td>{{ profesor.email }}</td>
      <td>{{ profesor.grado_academico }}</td>
      <td>{{ profesor.disponibilidad }}</td>
      <td>{{ profesor.anos_experiencia }}</td>

      <td class="table-dark">
        <input
          type="text"
          class="form-control"
          name="textoDeInput"
          value="{{ profesor.id }}"
          hidden
          #profesorSelect
        />
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
          title="Editar Profesor"
          (click)="enviarModal(profesorSelect.value)"
        >
          <a data-bs-toggle="tooltip" data-bs-placement="top">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-pencil-fill"
              viewBox="0 0 16 16"
            >
              <path
                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
              />
            </svg>
          </a>
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          (click)="eliminaProfesor(profesor)"
          routerLink="profesores"
        >
          Eliminar
        </button>
      </td>
    </tr>
  </table>
</div>
<app-editarprofesor [profesorCurrent]="profesorCurrent"></app-editarprofesor>

<!--
    
            <th>Rut</th>


            <td>{{profesor.rut}}</td>



-->
