<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12 jumbotron">
    <h3 class="text-center">Bienvenido a Everis Academy</h3>
    <br>
    <br>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Correo</label>
            <input [(ngModel)]="email" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@correo.cl">
            <p style="color:red;"> {{mensaje_email}}</p>
        </div>
        <br>
        <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input [(ngModel)]="password" name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
            <p style="color:red;"> {{mensaje_password}}</p>
        </div>
        <br>
        <button class="btn btn-primary" (click)="insertar()">Ingresar</button>
    </form>
</div>